#friendsTableView .table-column {
    -fx-text-alignment: center;
}

#friendsTableView .table-row, .table-row-cell {
    -fx-background-color: #b3cbff;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}

#friendsTableView .table-row:selected {
    -fx-background-color: #1a8cff;
}

#textFieldSearchFriend, #textFieldFindPeople, #textFieldSearchFriendRequest {
    -fx-border-color: #AAC9FF;
    -fx-border-width: 0;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#usersListView {
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    -fx-background-color: #b3cbff;
}

#usersListView .list-cell {
    -fx-background-color: #b3cbff;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    -fx-text-alignment: center;
}

#usersListView .scroll-bar, .scroll-pane {
    -fx-background-color: #b3cbff;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}

#usersListView .list-cell:selected {
    -fx-background-color: #1a8cff;
}

#buttonJoinEvent, #buttonUploadPhoto, #buttonCreate, #buttonBackToEvents, #buttonBackToProfile,
#buttonEdit, #buttonSaveChanges, #buttonUploadPhoto, #buttonUpdateProfile, #buttonInboxMessages,
#buttonSentMessages, #buttonComposeMessage, #buttonBackToMessagesPage, #buttonSendMessage, #buttonAddContact,
#buttonDeleteContact, #buttonBrowse, #buttonBrowse2, #buttonViewActivities, #buttonGenerateActivitiesPDF,
#buttonViewMessages, #buttonGenerateActivitiesPDF2 {
    -fx-background-color: #1a8cff;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-border-radius: 5 5 5 5;
}

#buttonShowPeopleResponded {
    -fx-background-color: #ffffff;
    -fx-text-fill: #1a8cff;
    -fx-text-alignment: center;
    -fx-border-radius: 5 5 5 5;
    -fx-border-width: 0;
}

#textAreaDescription, labelDate {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-width: 0;
    -fx-border-radius: 5;
}

#buttonCreateEvent, #buttonFilter {
    -fx-background-color: #AAC9FF;
    -fx-text-fill: #1a8cff;
    -fx-border-radius: 5;
    -fx-pref-width: 140;
    -fx-pref-height: 40;
    -fx-background-radius: 5;
}

